<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">

    <div class="container content">
        <h2>Create a new circle</h2>
        <form action="#" th:action="@{/circles}" th:object="${circle}" method="post">
            <div th:replace="_fragments/forms :: textInput('circle', 'name', 'Name of your new circle', false)"/>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>
    </div>
</layout>
