<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <h1 th:text="${circleEntity.name}"/>
        <p> <a class="nav-link" href="/notes/new">Add Top Level Note In This Circle</a> </p>
        <nav class="nav justify-content-end">
            <div class="nav-item circle-member" th:each="member:${circleEntity.members}">
               <span th:title="${member.name}">
                   <svg th:replace="_fragments/svgs :: missingAvatar"/>
            </div>
        </nav>

        <h2>Invite People To Your Circle</h2>
        Please share this invitation code so that they can join your circle:

        <div class="jumbotron">
            <input id="invitation-code" th:value="${circleEntity.invitationCode}" readonly/>
        </div>
    </div>
</layout>