<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <div th:replace="_fragments/bazaar_fragments :: noteBazaarBreadcrumb(${noteEntity}, ~{:: .additional-item})">
            <li class="breadcrumb-item additional-item" th:text="${noteEntity.title}"/>
        </div>

        <form action="#" th:action="@{/bazaar_for_user/notes/{id}/subscribe(id=${noteEntity.id})}" th:object="${subscriptionEntity}" method="post">
            <input type="hidden" th:value="*{noteEntity}"/>
            <div th:replace="_fragments/forms :: textInput('subscription', 'dailyTargetOfNewNotes', null, true)"/>
            <input type="submit" value="Add to my learning" class="btn btn-primary"/>
        </form>

    </div>
</layout>