<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <div th:replace="_fragments/bazaar_fragments :: noteBazaarBreadcrumb(${noteEntity}, ~{:: .additional-item})">
            <li class="breadcrumb-item additional-item" th:text="${noteEntity.title}"/>
        </div>

        <div th:replace="_fragments/note_fragments :: noteShow(${noteEntity}, 1)"/>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3" th:each="child:${noteEntity.children}">
            <div th:replace="_fragments/note_fragments :: noteShow(${child}, 2)"/>
        </div>

    </div>
</layout>