<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <div th:replace="_fragments/bazaar_fragments :: noteBazaarBreadcrumb(${noteEntity}, ~{:: .additional-item})">
            <li class="breadcrumb-item additional-item" th:text="${noteEntity.title}"/>
        </div>
        <nav class="nav d-flex flex-row-reverse p-0">
            <a role="button" class="btn btn-sm" title="Cards View" th:href="@{/bazaar/notes/{id}(id=${noteEntity.id})}">
                <svg th:replace="_fragments/svgs :: cards"/>
            </a>
        </nav>


        <div th:replace="_fragments/note_fragments :: noteAsArticle(${noteEntity}, 1)"/>
    </div>
</layout>