<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <div th:replace="_fragments/bazaar_fragments :: noteBazaarBreadcrumb(${noteEntity}, ~{:: .additional-item})">
            <li class="breadcrumb-item additional-item" th:text="${noteEntity.title}"/>
        </div>

        <div class="jumbotron py-4 mb-2">

            <nav class="nav d-flex flex-row-reverse p-0">
                <div th:replace="_fragments/bazaar_fragments :: bazaarNoteButtons(${noteEntity})"/>
                <a role="button" class="btn btn-sm" title="Article View" th:href="@{/bazaar/articles/{id}(id=${noteEntity.id})}">
                    <svg th:replace="_fragments/svgs :: article"/>
                </a>
            </nav>

            <div th:replace="_fragments/note_fragments :: noteShow(${noteEntity}, 1)"/>

        </div>

        <nav class="nav d-flex flex-row-reverse p-0 mb-2">
            <a th:replace="_fragments/note_fragments :: noteLinkButtons('/bazaar', ${noteEntity})"/>
        </nav>

        <div th:replace="_fragments/bazaar_fragments :: noteBazaarViewCards(${noteEntity.children})"/>
    </div>
</layout>