.git
.github
node_modules
dist
**/*.md
**/index.html
**/tsconfig.json
**/tsconfig.node.json
**/.eslintrc.cjs
**/vite.config.ts
**/farm.config.ts
**/components.d.ts
**/index.d.ts
**/shims-vue.d.ts
**/vitest.config.ts
**/setupVitest.js
**/typed-router.d.ts
