<a th:fragment="noteTitleWithLink(note)" th:href="'/notes/' + ${note.id}" th:text="${note.title}"/>

<div th:fragment="input(scopeName, field)" class="form-group">
    <label th:for="${scopeName + '-' + field}" th:text="${#strings.capitalize(field)}"/>
    <input th:class="'form-control' + ${#fields.hasErrors(field) ? ' is-invalid' : ''}" th:id="${scopeName + '-' + field}" th:field="*{__${field}__}" />
    <div class="invalid-feedback" th:if="${#fields.hasErrors(field)}" th:errors="*{__${field}__}"/>
</div>

