<a th:fragment="noteTitleWithLink(note)" th:href="'/notes/' + ${note.id}" th:text="${note.title}"/>

<div th:fragment="noteBreadcrumb(untilNote, additional)">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/notes">Top</a></li>
        <li class="breadcrumb-item" th:each="note:${@decoratorService.decorate(untilNote.parentNote).ancestors}" th:insert=":: noteTitleWithLink(${note})"/>
        <li class="breadcrumb-item" th:replace="${additional}"/>
    </ol>
</div>

<div th:fragment="cards(notes, button, cardHeader)">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" th:each="note:${notes}">
            <div class="card">
                <div th:replace="${cardHeader}"/>
                <div class="card-body">
                    <h5 th:insert=":: noteTitleWithLink(${note})" class="card-title"/>
                    <p th:text="${#strings.abbreviate(note.description, 50)}"/>
                    <div th:replace="${button}">Put your button here</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="noteButtons(note)" class="btn-group btn-group-sm">
    <a class="btn btn-sm edit-card" th:href="@{/notes/{id}/edit(id=${note.id})}" title="edit note">
        <svg th:replace="fragments/svgs :: edit"/>
    </a>
    <a class="btn btn-sm link-card" th:href="@{/notes/{id}/link(id=${note.id})}" title="link note">
        <svg th:replace="fragments/svgs :: linkNote"/>
    </a>
    <form th:action="@{/notes/{id}/share(id=${note.id})}" th:method="post"
          onsubmit="return confirm('Are you sure to share?')">
        <button class="btn btn-sm share-card" title="Share node to bazaar">
            <svg th:replace="fragments/svgs :: bazaarShare"/>
        </button>
    </form>
    <form th:action="@{/notes/{id}/delete(id=${note.id})}" th:method="delete"
          onsubmit="return confirm('Are you sure to delete?')">
        <input type="hidden" name="_method" value="delete"/>
        <button class="btn btn-sm delete-card" title="delete note">
            <svg th:replace="fragments/svgs :: remove"/>
        </button>
    </form>
</div>

<div th:fragment="noteViewCards(notes)">
    <div th:replace=":: cards(${notes}, ~{ :: .card-button},  ~{ :: .card-header})">
        <span class="card-header d-flex flex-row-reverse p-0">
            <div th:replace=":: noteButtons(${note})"/>
        </span>
        <span class="card-button"></span>
    </div>
</div>

