<a th:fragment="noteTitleWithLink(note)" th:href="'/notes/' + ${note.id}" th:text="${note.title}"/>

<div th:fragment="noteBreadcrumb(untilNote)">
    <p th:if="${untilNote == null}">Adding at the top level:</p>
    <ol class="breadcrumb" th:if="${untilNote != null}">
        <li class="breadcrumb-item" th:each="note:${untilNote.ancestors}" th:insert=":: noteTitleWithLink(${note})"/>
    </ol>
</div>

<div th:fragment="cards(notes, button, cardHeader)">
    <div class="row">
        <div class="card col-3 mr-2" style="width: 18rem;" th:each="note:${notes}">
            <div class="card-body">
                <div th:replace="${cardHeader}"/>
                <h5 th:insert=":: noteTitleWithLink(${note})" class="card-title"/>
                <div th:replace="${button}">Put your button here</div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="noteViewCards(notes)">
    <div th:replace="fragments/note_layout :: cards(${notes}, ~{ :: .card-button},  ~{ :: .card-header})">
        <span class="card-header">
            <form th:action="'/share_note/'+${note.id}" th:method="post" onsubmit="return confirm('Are you sure to share?')">
              <button class="share-card" title="Share node to bazaar">^</button>
            </form>
            <form th:action="'/delete_note/'+${note.id}" th:method="delete" onsubmit="return confirm('Are you sure to delete?')">
              <input type="hidden" name="_method" value="delete"/>
              <button class="delete-card" title="delete note">X</button>
            </form>
        </span>
        <a href="#" class="btn btn-primary card-button" th:href="'/link/' + ${note.id}">Link Note</a>
    </div>
</div>

