# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.bash_profile

# cypress
e2e_test/tsconfig.tsbuildinfo
e2e_test/downloads/
e2e_test/screenshots/
e2e_test/videos/
cypress-visual-report/
cypress-visual-screenshots/
cypress/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
!backend/gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
!e2e_test/fixtures/*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# java
**/.gradle
**/.classpath
**/.project
**/.settings/
**/bin/
**/build/
!backend/src/main/resources/db/migration/*.sql
backend/out

# Jetbrains
*.iml
*.ipr
*.iws
.idea/
.run/

# nodejs
node_modules/
.wireit/
**/package-lock.json
**/tsconfig.tsbuildinfo

# git-secret
.git
.gitsecret/keys/random_seed
!*.secret
env.sh
public_keys/
**/carbon-syntax-298809-f31377ba77a9.json
.gitsecret/keys/pubring.kbx~

# VSCode
**/.vscode/
**/*.code-workspace

# asdf/rtx
.tool-versions

# nohup.out
nohup.out

# OS
**/.DS_Store

# infra secrets
!infra/gitpod
!infra/salt/states/base_os/templates/doughnut_env.sh
infra/ssl/

# Frontend Vue/Vite related
frontend/node_modules
frontend/dist/
frontend/tsconfig.tsbuildinfo
frontend/public/mcp-server.bundle.js
backend/src/main/resources/static/favicon.ico
backend/src/main/resources/static/odd-e.ico
backend/src/main/resources/static/index.html
backend/src/main/resources/static/partial.html
backend/src/main/resources/static/assets/
backend/src/main/resources/static/*.css
backend/src/main/resources/static/*.js
backend/src/main/resources/static/*.map

# Symbolication related
frontend/app.*.symbols

# Obfuscation related
**/index.html.br
frontend/app.*.map.json

# local nix env related e.g. MySQL DB instance folder/files
.envrc
.direnv/
install-nix
nixInstall.sh
mysql/
**/mysql/

# gitpod inteliij-projector
**/.jetbrains
.wireit

# mountebank
mb.log
mb1.log
mb.pid

# flutter/dart/android/ios/mobile
.pub-cache
doughnut_mobile/android/app/local.properties

*.jsonl
