<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">

    <div class="container content">
        <div th:replace="_fragments/link_fragments :: linkShow(${linkEntity}, ~{:: .link-content})">
            <div class="link-content">
                <form action="#" th:action="@{/links/{id}(id=${linkEntity.id})}" th:object="${linkEntity}" method="post">
                    <select th:replace="_fragments/forms :: selectControl('link', 'type', ~{:: .options})">
                        <option class="options" th:each="i : ${T(com.odde.doughnut.entities.LinkEntity.LinkType).values()}" th:value="${i.label}" th:text="${i.label}"/>
                    </select>
                    <input type="submit" value="Update" class="btn btn-primary"/>
                </form>

            </div>
        </div>
</layout>
