<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <h2 class="display-3">Reviews</h2>

        <div class="row">

            <div class="col-sm-6">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">
                        Learn New Notes
                        <span class="badge bg-secondary number-of-initial-reviews"
                              th:text="${reviewing.toInitialReviewCount()} + '/' + ${reviewing.notLearntCount()}"/>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Do the initial review for your notes. You may try to remember them for the first time. Or, you can mark some as no repetition needed.
                        </p>
                        <a th:if="${reviewing.toInitialReviewCount() > 0}" role="button" class="btn btn-light" href="/reviews/initial"> Start reviewing new notes </a>
                        <h2  th:unless="${reviewing.toInitialReviewCount() > 0}" class="display-5">You have achieved your daily new notes goal.</h2>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">
                        Repeat Old Notes
                        <span class="badge bg-secondary number-of-repeats"
                              th:text="${reviewing.toRepeatCount()} + '/' + ${reviewing.learntCount()}"/>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Using spaced repetition technique, you only need to review the old notes you have learned at the optimal time. </p>
                        <a th:if="${reviewing.toRepeatCount() > 0}" role="button" class="btn btn-light" href="/reviews/repeat"> Start reviewing old notes </a>
                        <h2  th:unless="${reviewing.toRepeatCount() > 0}" class="display-5">You have reviewed all the old notes for today.</h2>
                    </div>
                </div>
            </div>

        </div>

    </div>
</layout>
