<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <h2 class="display-5">Review your notes</h2>

        <div th:replace="_fragments/note_fragments :: noteShow(${reviewPointEntity.noteEntity}, 1)"/>

        <form action="#" th:action="@{/reviews/}" th:object="${reviewPointEntity}" method="post">
            <input th:field="*{noteEntity}" type="hidden"/>
            <input type="submit" value="Next" class="btn btn-primary"/>
        </form>
    </div>
</layout>
