<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <h2 class="display-5">Initial Review</h2>

        <div th:if="${reviewPointEntity.noteEntity}">
            <div th:replace="_fragments/note_fragments :: noteOwnerBreadcrumb(${reviewPointEntity.noteEntity}, ~{})"/>
            <div class="jumbotron py-4 mb-2">
                <div th:replace="_fragments/note_fragments :: noteShow(${reviewPointEntity.noteEntity}, 1)"/>
            </div>
        </div>

        <div th:if="${reviewPointEntity.linkEntity}">
            <div class="jumbotron py-4 mb-2">
                <div th:replace="_fragments/link_fragments :: linkShow(${reviewPointEntity.linkEntity}, ~{:: .link-content})">
                    <span class="link-content badge badge-warning mr-1" th:text="*{type}"/>
                </div>
            </div>
        </div>

        <form id="review-setting" ction="#" th:action="@{/reviews/}" th:object="${reviewPointEntity}" method="post">
            <div class="mb-2">
                <input th:field="*{noteEntity}" type="hidden"/>
                <input th:field="*{linkEntity}" type="hidden"/>
                <div th:if="${reviewSettingEntity}">
                    <div th:replace="_fragments/note_fragments :: reviewSettingForm(${reviewSettingEntity})"/>
                </div>
            </div>
            <input type="submit" name="submit" value="Keep for repetition" class="btn btn-primary"/>
            <input type="submit" name="skip" value="Skip repetition" class="btn btn-secondary"
               onclick="return confirm('Are you sure to hide this note from reviewing in the future?')">
        </form>
    </div>
</layout>
