<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <h2 class="display-5">[...] means incite violence</h2>

        <div class="row">
            <div class="col-sm-6">
                <form th:action="@{/reviews/{id}/answer(id=${reviewPointEntity.id})}" th:object="${reviewPointEntity}" method="post">
                    <input type="submit" value="sedition" class="btn btn-secondary btn-lg btn-block"/>
                </form>
            </div>
            <div class="col-sm-6">
                <input type="submit" value="sedation" class="btn btn-secondary btn-lg btn-block"/>
            </div>
        </div>
    </div>
</layout>
