<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <h2 class="display-5">Repeat reviewing your notes</h2>

        <div th:if="${answer}">
            <div class="alert alert-success" th:if="${answer.isCorrect()}">Correct!</div>
            <div class="alert alert-danger" th:unless="${answer.isCorrect()}"
                 th:text="'Your answer `' + ${answer.answer} + '` is wrong.'"/>
        </div>

        <div th:replace="_fragments/note_fragments :: noteOwnerBreadcrumb(${reviewPointEntity.getSourceNote()}, ~{})"/>
        <div th:replace="_fragments/note_fragments :: noteShow(${reviewPointEntity.getSourceNote()}, 1)"/>

        <div class="btn-toolbar justify-content-between">
            <div class="btn-group" role="group" aria-label="First group">
                <form th:action="@{/reviews/{id}(id=${reviewPointEntity.id})}" th:object="${reviewPointEntity}"
                      method="post">
                    <input type="hidden" name="repeatAgainToday" value="1"/>
                    <button type="submit"class="btn btn-light" id="repeat-again">
                        <svg th:replace="_fragments/svgs :: failed"/>
                    </button>
                </form>

                <form th:action="@{/reviews/{id}(id=${reviewPointEntity.id})}" th:object="${reviewPointEntity}"
                      method="post" th:unless="${answer!=null && !answer.isCorrect()}">
                    <button type="submit"class="btn btn-light" id="repeat-sad">
                        <svg th:replace="_fragments/svgs :: sad"/>
                    </button>
                </form>

                <form th:action="@{/reviews/{id}(id=${reviewPointEntity.id})}" th:object="${reviewPointEntity}"
                      method="post" th:unless="${answer!=null && !answer.isCorrect()}">
                    <button type="submit"class="btn btn-light" id="repeat-satisfied">
                        <svg th:replace="_fragments/svgs :: satisfying"/>
                    </button>
                </form>

                <form th:action="@{/reviews/{id}(id=${reviewPointEntity.id})}" th:object="${reviewPointEntity}"
                      method="post" th:unless="${answer!=null && !answer.isCorrect()}">
                    <button type="submit"class="btn btn-light" id="repeat-happy">
                        <svg th:replace="_fragments/svgs :: happy"/>
                    </button>
                </form>

            </div>
            <div class="btn-group dropup">
                <button type="button" id="more-action-for-repeat" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <svg th:replace="_fragments/svgs :: cog"/>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" th:href="@{/notes/{id}/review_setting(id=${reviewPointEntity.getSourceNote().id})}">
                        <svg th:replace="_fragments/svgs :: reviewSetting"/>
                        Edit Review Settings
                    </a>
                    <a class="dropdown-item" th:href="@{/links/{id}/link(id=${reviewPointEntity.getSourceNote().id})}">
                        <svg th:replace="_fragments/svgs :: linkNote"/>
                        Make Link
                    <a class="dropdown-item" th:href="@{/notes/{id}/edit(id=${reviewPointEntity.getSourceNote().id})}">
                        <svg th:replace="_fragments/svgs :: edit"/>
                        Edit Note
                    </a>
                    <div class="dropdown-divider"></div>
                    <form th:action="@{/reviews/{id}(id=${reviewPointEntity.id})}" th:object="${reviewPointEntity}"
                          method="post"
                          onsubmit="return confirm('Are you sure to hide this note from reviewing in the future?')">
                        <input type="hidden" name="removedFromReview" value="1"/>
                        <button type="submit" class="dropdown-item">
                            <svg th:replace="_fragments/svgs :: noReview"/>
                            Remove This Note from Review
                        </button>
                    </form>
                </div>
            </div>

        </div>

    </div>
</layout>
