<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <h2 class="display-5">Repeat reviewing your notes</h2>

        <div th:replace="_fragments/note_fragments :: noteOwnerBreadcrumb(${reviewPointEntity.noteEntity}, ~{})"/>
        <div th:replace="_fragments/note_fragments :: noteShow(${reviewPointEntity.noteEntity}, 1)"/>

        <div class="btn-toolbar">
            <div th:replace="_fragments/review_fragments :: repeatForm(${reviewPointEntity}, ~{:: .submit-button}, ~{})">
                <input type="submit" value="Next" class="btn btn-primary submit-button"/>
            </div>
            <div th:replace="_fragments/review_fragments :: repeatForm(${reviewPointEntity}, ~{:: .skip-button}, ~{:: .additional-input})">
                <input class="additional-input" type="hidden" name="removedFromReview" value="1"/>
                <input type="submit" value="Remove This Note from Review" class="btn btn-secondary ml-2 skip-button"/>
            </div>
        </div>
    </div>
</layout>
