<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <h2 class="display-5">Repeat reviewing your notes</h2>

        <div th:if="${answer}">
            <div class="alert alert-success" th:if="${answer.isCorrect()}">Correct!</div>
            <div class="alert alert-danger" th:unless="${answer.isCorrect()}" th:text="'Your answer `' + ${answer.answer} + '` is wrong.'"/>
        </div>

        <div th:replace="_fragments/note_fragments :: noteOwnerBreadcrumb(${reviewPointEntity.noteEntity}, ~{})"/>
        <div th:replace="_fragments/note_fragments :: noteShow(${reviewPointEntity.noteEntity}, 1)"/>

        <div class="btn-toolbar">
            <form th:action="@{/reviews/{id}(id=${reviewPointEntity.id})}" th:object="${reviewPointEntity}" method="post">
                <input type="hidden" name="repeatAgainToday" value="1"/>
                <input type="submit" value="Again" class="btn btn-warning mr-2"/>
            </form>
            <form th:action="@{/reviews/{id}(id=${reviewPointEntity.id})}" th:object="${reviewPointEntity}" method="post" th:unless="${answer!=null && !answer.isCorrect()}">
                <input type="submit" value="Next" class="btn btn-primary mr-2"/>
            </form>
            <form th:action="@{/reviews/{id}(id=${reviewPointEntity.id})}" th:object="${reviewPointEntity}" method="post"
                onsubmit="return confirm('Are you sure to hide this note from reviewing in the future?')">
                <input type="hidden" name="removedFromReview" value="1"/>
                <input type="submit" value="Remove This Note from Review" class="btn btn-secondary mr-2"/>
            </form>
        </div>
    </div>
</layout>
