<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <h1>Testability Tools</h1>
        <form action="#" th:action="@{/testability/time_travel}" method="post">
            <label>User local time:</label>
            <input type="text" th:value="${currentTime}" name="travel_to"/>
            <input type="submit" value="Start Travel!" class="btn btn-primary"/>
        </form>

    </div>
</layout>
