// Shared menu layout variables
$assimilation-dock-min-height: 36rem; // viewport min-height for fixed assimilation settings bar

$main-menu-width: 90px;
$main-menu-height-tablet: 70px;
$main-menu-height-mobile: 55px;
$collapsed-menu-width-tablet: 125px;
$collapsed-menu-width-mobile: 88px;
