<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:fragment="application_layout(content)">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Doughnut - Knowledge Repo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <extra th:replace="../static/partial::vuejsScript"/>
    <link th:rel="stylesheet" th:href=
                  "@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
    <link rel="icon" type="image/png" href="https://www.odd-e.com/img/odd-e.png"/>
</head>
<body>
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/#">
                <img src="/img/odd-e.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Doughnut
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active ">
                        <a class="nav-link" href="/notebooks">My Notes</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/reviews">Review</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/circles">Circles</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/bazaar">Bazaar</a>
                    </li>
                    <li class="nav-item active" th:if="${currentUser != null && currentUser.authorization.isDeveloper()}">
                        <a class="nav-link" href="/failure-report-list">Failure Reports</a>
                    </li>
                    <li class="nav-item active" th:unless="${#arrays.contains(@environment.getActiveProfiles(), 'prod')}">
                        <a class="nav-link text-warning" href="/testability/panel">Testing Tools</a>
                    </li>
                </ul>
                <span style="margin-right:10px;" class="navbar-text" th:unless="${currentUser == null}">
                    <a href="/users/edit" th:text="${currentUser.getName()}"/>
                </span>
                <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post" th:unless="${currentUser == null}">
                    <input class= "btn btn-outline-success my-2 my-sm-0" type= "submit" value="Logout">
                </form>
                <a class= "btn btn-outline-primary my-2 my-sm-0" href="/login" th:if="${currentUser == null}">Login via Github</a>
            </div>
        </nav>
    </div>
    <div th:replace="${content}"></div>
    <div th:fragment="footer">
        <div class="footer-copyright text-center py-3">
            © 2021 Odd-e.com
        </div>
    </div>
    <foot th:fragment="foot">
        <script th:src= "@{/webjars/popper.js/1.16.1-lts/umd/popper.min.js}"></script>
        <script th:src= "@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <script th:src= "@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
    </foot>
</body>

</html>
</layout>
