<div class="row" th:fragment="mainFeatures(notesButton, reviewButton, circleButton)">
    <div class="col-sm-6">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Notes</div>
            <div class="card-body">
                <p class="card-text">Browse and manage your notes. You can add, reorg and build links between your
                    notes. </p>
                <a th:replace="${notesButton}"> Go To My Notes </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Review</div>
            <div class="card-body">
                <p class="card-text">Review your notes before you are about to forget. Test your memory and update your
                    notes with new realizations. </p>
                <a th:replace="${reviewButton}"> Go To Review </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">Bazaar</div>
            <div class="card-body">
                <p class="card-text">Look at the notes shared by other people. Search for interesting content to
                    learn. </p>
                <a class="btn btn-light" href="/bazaar"> Visit The Bazaar </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-black bg-light mb-3">
            <div class="card-header">Circles</div>
            <div class="card-body">
                <p class="card-text">Create and join circles. You can own notes together within a circle. </p>
                <a class="btn btn-light" href="/bazaar"> Visit The Circles </a>
            </div>
        </div>
    </div>
</div>
