<div th:fragment="linkShow(linkEntity, linkContent)" th:object="${linkEntity}">
    <div class="row">
        <div class="col-12 col-md-4">
            <div th:replace="_fragments/note_fragments :: noteOwnerBreadcrumb(*{sourceNote}, ~{})"/>
            <div th:replace="_fragments/note_fragments :: noteShow(*{sourceNote}, 2)"/>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div th:replace="${linkContent}"/>
        </div>
        <div class="col-12 col-md-4">
            <div th:replace="_fragments/note_fragments :: noteOwnerBreadcrumb(*{targetNote}, ~{})"/>
            <div th:replace="_fragments/note_fragments :: noteShow(*{targetNote}, 2)"/>
        </div>
    </div>
</div>

