<a th:fragment="noteTitleWithLink(note)" th:href="'/notes/' + ${note?.id}" th:text="${note?.noteContent?.title}"/>
<a th:fragment="linkWithHtmlLink(link, note)" th:href="'/links/' + ${link.id}" th:text="${note.noteContent.title}"/>

<div th:fragment="noteBreadcrumb(topLink, ancestors, additional)"
     th:with="linkFragment=${linkFragment} ?: ':: noteTitleWithLink'">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" th:replace="${topLink}"/>
        <li class="breadcrumb-item"
            th:each="note:${ancestors}"
            th:insert="__${linkFragment}__(${note})"/>
        <li class="breadcrumb-item" th:replace="${additional}"/>
    </ol>
</div>

<div th:fragment="noteBreadcrumbForOwnOrCircle(ancestors, ownership, additional)"
     th:replace="::noteBreadcrumb(~{:: .top-link}, ${ancestors}, ${additional})">
    <li class="breadcrumb-item top-link" th:unless="${ownership.isFromCircle}"><a href="/notebooks">Top</a></li>
    <li class="breadcrumb-item top-link" th:if="${ownership.isFromCircle}"><a href="/circles">Circles</a></li>
    <li class="breadcrumb-item top-link" th:if="${ownership.isFromCircle}"><a
            th:href="@{/circles/{id}(id=${ownership.circle.id})}" th:text="${ownership.circle.name}"/></li>
</div>

<div th:fragment="noteOwnerBreadcrumb(untilNote, additional)"
     th:replace="::noteBreadcrumbForOwnOrCircle(${untilNote.ancestors}, ${untilNote.notebook.ownership}, ${additional})"/>

<div th:fragment="card(noteElement, button, cardHeader, linkFragment)">
    <div class="card">
        <div th:replace="${cardHeader}"/>
        <div class="card-body">
            <h5 th:insert="__${linkFragment}__(${noteElement})" class="card-title"/>
            <p th:text="${#strings.abbreviate(noteElement.noteContent.description, 50)}"/>
            <div th:replace="${button}">Put your button here</div>
        </div>
    </div>
</div>

<div th:fragment="cards(notes, button, cardHeader)" th:with="linkFragment=${linkFragment} ?: ':: noteTitleWithLink'">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" th:each="noteElement:${notes}">
            <div th:replace=":: card(${noteElement}, ${button}, ${cardHeader}, ${linkFragment})"/>
        </div>
    </div>
</div>

<div th:fragment="noteButtons(note)" class="btn-group btn-group-sm">
    <a class="btn btn-sm" th:href="@{/notes/{id}/edit(id=${note.id})}" role="button" title="edit note">
        <svg th:replace="_fragments/svgs :: edit"/>
    </a>
    <a role="button" class="btn btn-sm" title="Cards View" th:href="@{/notes/articles/{id}(id=${note.id})}">
        <svg th:replace="_fragments/svgs :: article"/>
    </a>
    <a class="btn btn-sm" th:href="@{/links/{id}/link(id=${note.id})}" role="button" title="link note">
        <svg th:replace="_fragments/svgs :: linkNote"/>
    </a>
    <a class="btn btn-light dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" role="button" title="more options">
        <svg th:replace="_fragments/svgs :: cog"/>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <a  class="dropdown-item" th:href="@{/notes/{id}/review_setting(id=${note.id})}"
           title="edit review settings">
            <svg th:replace="_fragments/svgs :: reviewSetting"/>
            Edit review settings
        </a>
        <form th:action="@{/notes/{id}/delete(id=${note.id})}" th:method="delete"
                      onsubmit="return confirm('Are you sure to delete?')">
            <button class="dropdown-item" title="delete note">
                <svg th:replace="_fragments/svgs :: remove"/>
                Delete
            </button>
        </form>
    </div>
</div>

<div th:fragment="noteButtonsArticleView(note)" class="btn-group btn-group-sm">
    <a class="btn btn-sm" th:href="@{/notes/{id}/edit(id=${note.id})}" role="button" title="edit note">
        <svg th:replace="_fragments/svgs :: edit"/>
    </a>
    <a role="button" class="btn btn-sm" title="Cards View" th:href="@{/notes/{id}(id=${note.id})}">
        <svg th:replace="_fragments/svgs :: cards"/>
    </a>
</div>

<div th:fragment="noteCardWithHeaderAndButton(notes, bodyButton, headerButtons)">
    <div th:replace=":: cards(notes=${notes}, button=${bodyButton}, cardHeader=~{ :: .card-header}, linkFragment=${linkFragment})">
        <span class="card-header d-flex flex-row-reverse p-0">
            <div th:replace="${headerButtons}"/>
        </span>
    </div>
</div>

<div th:fragment="noteOwnerViewCards(notes)"
     th:replace=":: noteCardWithHeaderAndButton(${notes}, ~{ :: .card-button},  ~{ :: .card-header-buttons})">
    <div class="card-header-buttons" th:replace=":: noteButtons(${noteElement})"/>
    <span class="card-button"/>
</div>

<div th:fragment="noteFormBody()">
    <div th:replace="_fragments/forms :: textInput('note', 'title', null, false)"/>
    <div th:replace="_fragments/forms :: textarea('note', 'description', null)"/>
    <div th:replace="_fragments/forms :: imageInput('note', 'uploadPicture', 'Optional. upload own picture.')"/>
    <div th:replace="_fragments/forms :: textInput('note', 'pictureUrl', 'Full url of existing picture.', false)"/>
    <div th:replace="_fragments/forms :: checkInput('note', 'useParentPicture')"/>
    <div th:replace="_fragments/forms :: textInput('note', 'pictureMask', null, false)"/>
    <div th:replace="_fragments/forms :: textInput('note', 'url', null, false)"/>
    <div th:replace="_fragments/forms :: checkInput('note', 'urlIsVideo')"/>
    <div th:replace="_fragments/forms :: checkInput('note', 'hideTitleInArticle')"/>
    <div th:replace="_fragments/forms :: checkInput('note', 'showAsBulletInArticle')"/>
    <div th:replace="_fragments/forms :: checkInput('note', 'skipReview')"/>
</div>

<div th:fragment="noteLinkButton(urlPrefix, note, svg, title)">
    <a role="button" class="btn btn-sm" th:title="${title}" th:if="${note}" th:href="${urlPrefix}+'/notes/'+${note.id}">
        <svg th:replace="_fragments/svgs :: __${svg}__"/>
    </a>
    <a role="button" class="btn btn-sm disabled" th:unless="${note}">
        <svg th:replace="_fragments/svgs :: __${svg}__"/>
    </a>
</div>

<div th:fragment="noteNavigationButtons(urlPrefix, entity)" class="btn-group btn-group-sm">
    <a th:replace="_fragments/note_fragments :: noteLinkButton(${urlPrefix}, ${entity.previousSibling}, 'fastBackward', 'previous sibling')"/>
    <a th:replace="_fragments/note_fragments :: noteLinkButton(${urlPrefix}, ${entity.previous}, 'backward', 'previous')"/>
    <a th:replace="_fragments/note_fragments :: noteLinkButton(${urlPrefix}, ${entity.next}, 'forward', 'next')"/>
    <a th:replace="_fragments/note_fragments :: noteLinkButton(${urlPrefix}, ${entity.nextSibling}, 'fastForward', 'next sibling')"/>
    </a>
</div>

<div th:fragment="showPicture(note, opacity)" th:object="${note}" class="text-center"
     th:unless="${#strings.isEmpty(note.notePicture)}">
    <div style="position: relative; display: inline-block;" id="note-picture">
        <img class="img-fluid" th:src="*{notePicture}"/>
        <svg viewBox="0 0 100 100"
             style="  position: absolute; top: 0; left: 0; color: #11f1f1; width: 100%; height: 100%;">
            <rect th:remove="tag" th:utext="${note.noteContent.getPictureMaskSvg(opacity)}"/>
        </svg>
    </div>
</div>

<div th:fragment="noteShowTemp(note)" th:object="${note}">
    <ul>
        <li th:each="linksOfType:${note.getAllLinks(currentUser?.entity)}">
            <span th:text="${linksOfType.key.label}"/>
            <span class="badge badge-light mr-1" th:each="link:${linksOfType.value['direct']}">
                <span th:unless="${forBazaar}" th:remove="tag">
                    <span th:replace=":: linkWithHtmlLink(${link}, ${link.targetNote})"/>
                </span>
                <a th:href="'/bazaar/notes/' + ${link.targetNote.id}" th:text="${link.targetNote.noteContent.title}"
                   th:if="${forBazaar}"/>
            </span>
            <span class="badge badge-warning mr-1"
                  th:each="link:${linksOfType.value['reverse']}">
                <span th:unless="${forBazaar}" th:remove="tag">
                    <span th:replace=":: linkWithHtmlLink(${link}, ${link.sourceNote})"/>
                </span>
                <a th:href="'/bazaar/notes/' + ${link.sourceNote.id}" th:text="${link.sourceNote.noteContent.title}" th:if="${forBazaar}"/>
            </span>
        </li>
    </ul>
</div>

<div th:fragment="noteShowWithTitle(note, level, forBazaar, titleBodyHtml)" th:object="${note}">
    <div th:object="${note.noteContent}">
        <div th:replace="${titleBodyHtml}"/>
        <div th:unless="${#strings.isEmpty(note.noteContent.url)}">
            <label th:unless="*{urlIsVideo}">Url:</label>
            <label th:if="*{urlIsVideo}">Video Url:</label>
            <a th:href="*{url}" th:text="*{url}"/>
        </div>
    </div>
    <div th:replace=":: showPicture(${note}, 0.2)"/>
    <div th:replace=":: noteShowTemp(${note})"/>
</div>

<div th:fragment="noteShow(note, level, forBazaar)"
     th:replace=":: noteShowWithTitle(${note}, ${level}, ${forBazaar}, ~{:: .note-title-body-show})">
    <div class="note-title-body-show">
        <h2 th:class="'h' + ${level}" th:text="${note.noteContent.title}"/>
        <pre class="note-body" th:text="${note.noteContent.description}" style="white-space: pre-wrap;"/>
    </div>
</div>

<div th:fragment="noteAsArticle(note, level, forBazaar)">
    <div th:replace=":: noteShowWithTitle(${note}, ${level}, ${forBazaar}, ~{::.note-title-body-article})">
        <div class="note-title-body-article">
            <h2 th:class="'h' + ${level}" th:if="${note.hasTitleInArticle}">
                <span th:text="${note.articleTitle}" th:if="${forBazaar}"/>
                <a th:href="'/notes/articles/' + ${note.id}" th:text="${note.articleTitle}" th:unless="${forBazaar}"/>
            </h2>

            <pre class="note-body" th:text="${note.articleBody}"
                 style="white-space: pre-wrap; margin-bottom: 0;"/>
        </div>
    </div>

    <ul style="padding-left: 20px;">
        <th:block th:each="child:${note.children}">
            <li style="margin-left:25px;" class="article-view" th:if="${child.noteContent.showAsBulletInArticle}"
                th:insert=" :: noteAsArticle(${child}, ${1 + level}, ${forBazaar})"/>
            <div style="margin-bottom:5px;" th:unless="${child.noteContent.showAsBulletInArticle}"
                 th:insert=" :: noteAsArticle(${child}, ${1 + level}, ${forBazaar})"/>
        </th:block>
    </ul>
</div>

<div th:fragment="reviewSettingForm(reviewSetting)" th:object="${reviewSetting}">
    <div th:replace="_fragments/forms :: checkInput('review_setting', 'rememberSpelling')">
    </div>
</div>

<div th:fragment="noteControlHeader(note)">
    <div th:replace=":: noteOwnerBreadcrumb(${note}, ~{:: .additional-item})">
        <li class="breadcrumb-item additional-item" th:text="${note.title}"/>
        <li class="breadcrumb-item additional-item">
            <a class="text-secondary" th:href="@{/notes/{id}/new(id=${note.id})}"  th:text="'(Add ' + ${note.getNoteTypeDisplay()} +')'" />
        </li>
    </div>
    <div th:if="${!note.isHead()}">
        <svg th:replace="_fragments/svgs :: downRight"/>
        <a th:if="${!note.isHead()}" th:href="@{/notes/{id}/new(id=${note.parentNote.id})}">Add Sibling
            Note</a>
    </div>
</div>

