<a th:fragment="noteTitleWithLink(note)" th:href="'/notes/' + ${note.id}" th:text="${note.title}"/>
<a th:fragment="linkWithHtmlLink(link, note)" th:href="'/links/' + ${link.id}" th:text="${note.title}"/>

<div th:fragment="noteBreadcrumb(topLink, untilNote, additional)" th:with="linkFragment=${linkFragment} ?: ':: noteTitleWithLink'">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" th:replace="${topLink}"/>
        <li class="breadcrumb-item"
            th:each="note:${@modelFactoryService.toTreeNodeModel(untilNote.parentNote).ancestors}"
            th:insert="__${linkFragment}__(${note})"/>
        <li class="breadcrumb-item" th:replace="${additional}"/>
    </ol>
</div>

<div th:fragment="noteOwnerBreadcrumb(untilNote, additional)" th:replace="::noteBreadcrumb(~{:: .top-link}, ${untilNote}, ${additional})">
    <li class="breadcrumb-item top-link" th:unless="${untilNote.isFromCircle}"><a href="/notes">Top</a></li>
    <li class="breadcrumb-item top-link" th:if="${untilNote.isFromCircle}"><a href="/circles">Circles</a></li>
    <li class="breadcrumb-item top-link"  th:if="${untilNote.isFromCircle}"><a th:href="@{/circles/{id}(id=${untilNote.circle.id})}" th:text="${untilNote.circle.name}"/></li>
</div>

<div th:fragment="cards(notes, button, cardHeader)" th:with="linkFragment=${linkFragment} ?: ':: noteTitleWithLink'">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" th:each="note:${notes}">
            <div class="card">
                <div th:replace="${cardHeader}"/>
                <div class="card-body">
                    <h5 th:insert="__${linkFragment}__(${note})" class="card-title"/>
                    <p th:text="${#strings.abbreviate(note.description, 50)}"/>
                    <div th:replace="${button}">Put your button here</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="noteButtons(note)" class="btn-group btn-group-sm">
    <a class="btn btn-sm edit-card" th:href="@{/notes/{id}/edit(id=${note.id})}" title="edit note">
        <svg th:replace="_fragments/svgs :: edit"/>
    </a>
    <a class="btn btn-sm link-card" th:href="@{/links/{id}/link(id=${note.id})}" title="link note">
        <svg th:replace="_fragments/svgs :: linkNote"/>
    </a>
    <a class="btn btn-sm edit-review-setting" th:href="@{/notes/{id}/review_setting(id=${note.id})}" title="edit review settings">
        <svg th:replace="_fragments/svgs :: reviewSetting"/>
    </a>
    <form th:action="@{/notes/{id}/share(id=${note.id})}" th:method="post"
          onsubmit="return confirm('Are you sure to share?')">
        <button class="btn btn-sm share-card" title="Share node to bazaar">
            <svg th:replace="_fragments/svgs :: bazaarShare"/>
        </button>
    </form>
    <form th:action="@{/notes/{id}/delete(id=${note.id})}" th:method="delete"
          onsubmit="return confirm('Are you sure to delete?')">
        <input type="hidden" name="_method" value="delete"/>
        <button class="btn btn-sm delete-card" title="delete note">
            <svg th:replace="_fragments/svgs :: remove"/>
        </button>
    </form>
</div>

<div th:fragment="noteCardWithHeaderAndButton(notes, bodyButton, headerButtons)">
    <div th:replace=":: cards(notes=${notes}, button=${bodyButton}, cardHeader=~{ :: .card-header}, linkFragment=${linkFragment})">
        <span class="card-header d-flex flex-row-reverse p-0">
            <div th:replace="${headerButtons}"/>
        </span>
    </div>
</div>

<div th:fragment="noteOwnerViewCards(notes)"  th:replace=":: noteCardWithHeaderAndButton(${notes}, ~{ :: .card-button},  ~{ :: .card-header-buttons})">
    <div class="card-header-buttons" th:replace=":: noteButtons(${note})"/>
    <span class="card-button"/>
</div>

<div th:fragment="noteFormBody(note)">
    <div th:replace="_fragments/forms :: textInput('note', 'title', null, false)"/>
    <div th:replace="_fragments/forms :: textarea('note', 'description', null)"/>
    <div th:replace="_fragments/forms :: imageInput('note', 'uploadPicture', 'Optional. upload own picture.')"/>
    <div th:replace="_fragments/forms :: textInput('note', 'picture', 'Or, use full url of picture on the Internet.', false)"/>
    <div th:replace="_fragments/forms :: textInput('note', 'url', null, false)"/>
    <div th:replace="_fragments/forms :: checkInput('note', 'urlIsVideo')"/>
    <div th:replace="_fragments/forms :: checkInput('note', 'skipReview')"/>
</div>

<div th:fragment="noteLinkButton(urlPrefix, note, svg, title)">
    <a role="button" class="btn btn-sm" th:title="${title}" th:if="${note}" th:href="${urlPrefix}+'/notes/'+${note.id}">
        <svg th:replace="_fragments/svgs :: __${svg}__"/>
    </a>
    <a role="button" class="btn btn-sm disabled" th:unless="${note}">
        <svg th:replace="_fragments/svgs :: __${svg}__"/>
    </a>
</div>

<div th:fragment="noteLinkButtons(urlPrefix, treeNodeModel)" class="btn-group btn-group-sm">
    <a th:replace="_fragments/note_fragments :: noteLinkButton(${urlPrefix}, ${treeNodeModel.previousSiblingNote}, 'fastBackward', 'previous sibling')"/>
    <a th:replace="_fragments/note_fragments :: noteLinkButton(${urlPrefix}, ${treeNodeModel.previousNote}, 'backward', 'previous')"/>
    <a th:replace="_fragments/note_fragments :: noteLinkButton(${urlPrefix}, ${treeNodeModel.nextNote}, 'forward', 'next')"/>
    <a th:replace="_fragments/note_fragments :: noteLinkButton(${urlPrefix}, ${treeNodeModel.nextSiblingNote}, 'fastForward', 'next sibling')"/>
    </a>
</div>

<div th:fragment="noteShow(noteEntity, level)" th:object="${noteEntity}">
    <h2 th:class="'h' + ${level}" id="note-title" th:text="*{title}"/>
    <pre id="note-description" th:text="*{description}" style="white-space: pre-wrap;"/>
    <div th:unless="${#strings.isEmpty(noteEntity.url)}">
        <label th:unless="*{urlIsVideo}">Url:</label>
        <label th:if="*{urlIsVideo}">Video Url:</label>
        <a th:href="*{url}" th:text="*{url}"/>
    </div>
    <p id="note-picture" class="text-center" th:if="*{picture}">
        <img class="img-fluid" th:src="*{picture}"/>
    </p>
    <p th:each="linkType:${noteEntity.linkTypes()}">
        <span th:text="${linkType.label}"/>
        <span class="badge badge-warning mr-1" th:each="link:${noteEntity.linksOfTypeThroughDirect(linkType)}">
            <span th:replace=":: linkWithHtmlLink(${link}, ${link.targetNote})"/>
        </span>
        <span class="badge badge-info mr-1" th:each="link:${noteEntity.linksOfTypeThroughReverse(linkType)}">
            <span th:replace=":: linkWithHtmlLink(${link}, ${link.sourceNote})"/>
        </span>
    </p>
</div>

<div th:fragment="noteAsArticle(noteEntity, level)">
    <div th:replace="_fragments/note_fragments :: noteShow(${noteEntity}, ${level})"/>
    <div class="" th:each="child:${noteEntity.children}">
        <div th:replace="_fragments/note_fragments :: noteAsArticle(${child}, ${1 + level})"/>
    </div>
</div>

<div th:fragment="reviewSettingForm(reviewSettingEntity)" th:object="${reviewSettingEntity}">
    <div th:replace="_fragments/forms :: checkInput('review_setting', 'rememberSpelling')">
    </div>
</div>

