<div th:fragment="noteButtons(notebook, note)" class="btn-group btn-group-sm">
    <a class="btn btn-sm edit-card" th:href="@{/notes/{id}/edit(id=${note.id})}" title="edit note">
        <svg th:replace="_fragments/svgs :: edit"/>
    </a>
    <a class="btn btn-sm link-card" th:href="@{/links/{id}/link(id=${note.id})}" title="link note">
        <svg th:replace="_fragments/svgs :: linkNote"/>
    </a>
    <a class="btn btn-sm edit-review-setting" th:href="@{/notes/{id}/review_setting(id=${note.id})}"
       title="edit review settings">
        <svg th:replace="_fragments/svgs :: reviewSetting"/>
    </a>
    <form th:action="@{/notebooks/{id}/share(id=${notebook.id})}" th:method="post"
          onsubmit="return confirm('Are you sure to share?')">
        <button class="btn btn-sm share-card" title="Share nodebook to bazaar">
            <svg th:replace="_fragments/svgs :: bazaarShare"/>
        </button>
    </form>
    <form th:action="@{/notes/{id}/delete(id=${note.id})}" th:method="delete"
          onsubmit="return confirm('Are you sure to delete?')">
        <input type="hidden" name="_method" value="delete"/>
        <button class="btn btn-sm delete-card" title="delete note">
            <svg th:replace="_fragments/svgs :: remove"/>
        </button>
    </form>
</div>

<div th:fragment="notebookCardWithHeaderAndButton(notebooks, cardHeader)">
    <div th:with="linkFragment=${linkFragment} ?: '_fragments/note_fragments :: noteTitleWithLink'">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" th:each="notebook:${notebooks}">
                <div th:replace="_fragments/note_fragments :: card(${notebook.headNoteEntity}, ~{}, ${cardHeader}, ${linkFragment})"/>
            </div>
        </div>
    </div>
</div>

<div th:fragment="notebookViewCards(notebooks)"
     th:replace=":: notebookCardWithHeaderAndButton(${notebooks}, ~{ :: .card-header})">
        <span class="card-header d-flex flex-row-reverse p-0">
            <div th:replace=":: noteButtons(${notebook}, ${notebook.headNoteEntity})"/>
        </span>
</div>
