<div th:fragment="noteButtons(notebook)" class="btn-group btn-group-sm">
    <a role="button" class="btn btn-sm" title="Article View"
       th:href="@{/notes/articles/{id}(id=${notebook.headNote.id})}">
        <svg th:replace="_fragments/svgs :: article"/>
    </a>
    <a class="btn btn-sm edit-notebook" th:href="@{/notebooks/{id}/edit(id=${notebook.id})}"
       title="edit notebook settings">
        <svg th:replace="_fragments/svgs :: editNotebook"/>
    </a>
    <form th:action="@{/notebooks/{id}/share(id=${notebook.id})}" th:method="post"
          onsubmit="return confirm('Are you sure to share?')">
        <button class="btn btn-sm share-card" title="Share nodebook to bazaar">
            <svg th:replace="_fragments/svgs :: bazaarShare"/>
        </button>
    </form>
</div>

<div th:fragment="notebookCardWithHeaderAndButton(notebooks, cardHeaderButtons)">
    <div th:with="linkFragment=${linkFragment} ?: '_fragments/note_fragments :: noteTitleWithLink'">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" th:each="notebook:${notebooks}">
                <div th:replace="_fragments/note_fragments :: card(${notebook.headNote}, ~{}, ~{:: .card-header}, ${linkFragment})">
                    <span class="card-header d-flex flex-row-reverse p-0">
                        <div th:replace="${cardHeaderButtons}"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="notebookViewCards(notebooks, additionHeadButtons)"
     th:replace=":: notebookCardWithHeaderAndButton(${notebooks}, ~{ :: .card-header-btn})">
    <div class="card-header-btn" th:replace=":: noteButtons(${notebook})"/>
    <div class="card-header-btn" th:replace="${additionHeadButtons}"/>
</div>

