<div th:fragment="showReviewPointTemp(reviewPoint)" th:object="${reviewPoint}">
    <div th:if="*{note}">
        <div th:replace=":: noteBreadcrumbForReview(*{note})"/>
    </div>
    <div th:if="*{link}">
        <div class="jumbotron py-4 mb-2">
            <div th:replace="_fragments/link_fragments :: linkShow(*{link}, ~{:: .link-content})">
                <span class="link-content badge badge-light mr-1" th:text="*{type}"/>
            </div>
        </div>
    </div>
</div>

<div th:fragment="showReviewPoint(reviewPoint)" th:object="${reviewPoint}">
    <div th:if="*{note}">
        <div th:replace=":: noteBreadcrumbForReview(*{note})"/>
        <div class="jumbotron py-4 mb-2">
            <div th:replace="_fragments/note_fragments :: noteShow(*{note}, 1, false)"/>
        </div>
    </div>
    <div th:if="*{link}">
        <div class="jumbotron py-4 mb-2">
            <div th:replace="_fragments/link_fragments :: linkShow(*{link}, ~{:: .link-content})">
                <span class="link-content badge badge-light mr-1" th:text="*{type}"/>
            </div>
        </div>
    </div>
</div>

<div th:fragment="noteBreadcrumbForReview(untilNote)"
     th:replace="_fragments/note_fragments ::noteBreadcrumb(~{}, ${untilNote.parentNote?.ancestors},  ~{:: .additional-item-for-review})">
    <div th:if="${untilNote.parentNote}">
        <li class="breadcrumb-item additional-item-for-review">
            <strong th:insert="_fragments/note_fragments :: noteTitleWithLink(${untilNote.parentNote})"/>
        </li>
    </div>
</div>

