<div th:fragment="showReviewPoint(reviewPointEntity)" th:object="${reviewPointEntity}">
    <div th:if="*{noteEntity}">
        <div th:replace="_fragments/note_fragments :: noteOwnerBreadcrumb(*{noteEntity}, ~{})"/>
        <div class="jumbotron py-4 mb-2">
            <div th:replace="_fragments/note_fragments :: noteShow(*{noteEntity}, 1)"/>
        </div>
    </div>

    <div th:if="*{linkEntity}">
        <div class="jumbotron py-4 mb-2">
            <div th:replace="_fragments/link_fragments :: linkShow(*{linkEntity}, ~{:: .link-content})">
                <span class="link-content badge badge-warning mr-1" th:text="*{type}"/>
            </div>
        </div>
    </div>
</div>

