<div th:fragment="noteSubscriptionCards(subscriptions)"  th:replace="_fragments/note_fragments::noteCardWithHeaderAndButton(
         notes=${subscriptions},
         bodyButton=~{},
         headerButtons=~{ :: .s-card-header-buttons},
         linkFragment='_fragments/bazaar_fragments::noteTitleWithBazaarLink'
         )">
    <div class="s-card-header-buttons" th:replace=":: subscriptionNoteButtons(${note})"/>
</div>

<div th:fragment="subscriptionNoteButtons(note)" class="btn-group btn-group-sm">
</div>

<lid th:fragment="noteSubscriptionBreadcrumb(untilNote, additional)" th:replace="_fragments/note_fragments::noteBreadcrumb(
         topLink=~{:: .b-top-link},
         ancestors=${untilNote.ancestors},
         additional=${additional},
         linkFragment='_fragments/bazaar_fragments::noteTitleWithBazaarLink'
         )">
    <li class="breadcrumb-item b-top-link"><a href="/notes">Subscriptions</a></lid>
</div>

