<a th:fragment="subscriptionTitleWithBazaarLink(subscription)" th:href="'/notes/' + ${subscription.headNote.id}" th:text="${subscription.headNote.title}"/>

<div th:fragment="noteSubscriptionCards(subscriptions)"  th:replace="_fragments/note_fragments::noteCardWithHeaderAndButton(
         notes=${subscriptions},
         bodyButton=~{},
         headerButtons=~{ :: .s-card-header-buttons},
         linkFragment='::subscriptionTitleWithBazaarLink'
         )">
    <div class="s-card-header-buttons" th:replace=":: subscriptionNoteButtons(${noteElement})"/>
</div>

<div th:fragment="subscriptionNoteButtons(subscription)" class="btn-group btn-group-sm">
    <a
            class="btn btn-sm edit-subscription" th:href="@{/subscriptions/{id}/edit(id=${subscription.id})}" title="Edit subscription">
        <svg th:replace="_fragments/svgs :: edit"/>
    </a>
</div>

<lid th:fragment="noteSubscriptionBreadcrumb(untilNote, additional)" th:replace="_fragments/note_fragments::noteBreadcrumb(
         topLink=~{:: .b-top-link},
         ancestors=${untilNote.ancestors},
         additional=${additional},
         linkFragment='_fragments/bazaar_fragments::noteTitleWithBazaarLink'
         )">
    <li class="breadcrumb-item b-top-link"><a href="/notebooks">Subscriptions</a></lid>
</div>

<div th:fragment="subscriptionFormFields(subscription)" th:object="${subscription}">
    <div th:replace="_fragments/forms :: textInput('subscription', 'dailyTargetOfNewNotes', null, true)"/>
</div>
