<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">

        <div th:replace="_fragments/note_fragments :: noteControlHeader(${note})"/>
        <nav class="nav d-flex flex-row-reverse p-0">
            <div th:replace="_fragments/note_fragments :: noteButtonsArticleView(${note})"/>
        </nav>
        <div th:replace="_fragments/note_fragments :: noteAsArticle(${note}, 1, true)"/>
    </div>
</layout>