<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="fragments/basic_layout :: application_layout(~{ :: .content})">

    <div class="container content">
        <h2>Edit note</h2>
        <div th:replace="fragments/note_fragments :: noteBreadcrumb(${noteEntity}, ~{:: .additional-item})">
            <li class="breadcrumb-item additional-item" th:text="${noteEntity.title}"/>
        </div>

        <form action="#" th:action="@{/notes/{id}(id=${noteEntity.id})}" th:object="${noteEntity}" method="post">
            <div th:replace="fragments/note_fragments :: noteFormBody(${noteEntity})"/>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>
    </div>
</layout>
