<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">

    <div class="container content">
        <h2>Edit Note</h2>
        <div th:replace="_fragments/note_fragments :: noteOwnerBreadcrumb(${note}, ~{:: .additional-item})">
            <li class="breadcrumb-item additional-item" th:text="${note.title}"/>
        </div>

        <form action="#" th:action="@{/notes/{id}(id=${note.id})}" th:object="${noteContentEntity}" method="post" enctype="multipart/form-data">
            <div th:replace="_fragments/note_fragments :: noteFormBody()"/>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>
    </div>
</layout>
