<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <h2>Top Level Notes</h2>
        <p> <a class="nav-link" href="/notes/new_notebook">Add New Notebook</a> </p>
        <div th:replace="_fragments/notebook_fragments :: notebookViewCards(${notebooks})"/>
        <h2>Subscribed Notes</h2>
        <div th:replace="_fragments/subscription_fragments :: noteSubscriptionCards(${subscriptions})"/>
    </div>
</layout>