<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">

    <div class="container content">
        <h2>Adding new note</h2>
        <div th:replace="_fragments/note_fragments :: noteOwnerBreadcrumb(${noteEntity}, ~{:: .additional-item})">
            <li class="breadcrumb-item additional-item">(adding here)</li>
        </div>

        <form action="#" th:action="@{/notes}" th:object="${noteEntity}" method="post">
            <input data-cy="note-parent-id" th:field="*{parentNote}" type="hidden"/>
            <input data-cy="note-ownership-id" th:field="*{ownershipEntity}" type="hidden"/>
            <div th:replace="_fragments/note_fragments :: noteFormBody(${noteEntity})"/>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>
    </div>
</layout>
