<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <div th:replace="_fragments/note_fragments :: noteControlHeader(${note})"/>

        <div class="jumbotron py-4 mb-2">
            <nav class="nav d-flex flex-row-reverse p-0">
                <div th:replace="_fragments/note_fragments :: noteButtons(${note})"/>
            </nav>

            <div id="partials-noteshow" th:data-noteid="${note.id}"> </div>
        </div>

        <nav class="nav d-flex justify-content-between p-0 mb-2">
            <div class="btn-group btn-group-sm">
                <a th:href="@{/notes/{id}/move(id=${note.id})}">Move This Note</a>
            </div>
            <a th:replace="_fragments/note_fragments :: noteNavigationButtons('', ${note})"/>
        </nav>

        <div th:replace="_fragments/note_fragments :: noteOwnerViewCards(${note.children})"/>
    </div>
</layout>