<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <div th:replace="fragments/note_fragments :: noteBreadcrumb(${noteEntity}, ~{:: .additional-item})">
            <li class="breadcrumb-item additional-item" th:text="${noteEntity.title}"/>
            <li class="breadcrumb-item additional-item">
                <a class="text-secondary" th:href="@{/notes/{id}/new(id=${noteEntity.id})}">(Add Child Note)</a>
            </li>
        </div>

        <div th:if="${noteEntity.parentNote}">
            <svg th:replace="fragments/svgs :: downRight"/>
            <a th:if="${noteEntity.parentNote}" th:href="@{/notes/{id}/new(id=${noteEntity.parentNote.id})}">Add Sibling
                Note</a>
        </div>
        <div class="jumbotron py-4 mb-2">
            <nav class="nav d-flex flex-row-reverse p-0">
                <div th:replace="fragments/note_fragments :: noteButtons(${noteEntity})"/>
            </nav>
            <h2 class="display-4" th:text="${noteEntity.title}"/>
            <p th:each="line : ${noteEntity.descriptionLines}" th:text="${line}"/>
            <div th:if="${noteEntity.url}">
                <label th:unless="${noteEntity.urlIsVideo}">Url:</label>
                <label th:if="${noteEntity.urlIsVideo}">Video Url:</label>
                <p th:text="${noteEntity.url}"/>
            </div>
            <p class="text-center" th:if="${noteEntity.picture}">
                <img class="img-fluid" th:src="${noteEntity.picture}"/>
            </p>
        </div>

        <nav class="nav d-flex justify-content-between p-0 mb-2">
            <div class="btn-group btn-group-sm">
                <a th:href="@{/notes/{id}/move(id=${noteEntity.id})}">Move This Note</a>
            </div>
            <div class="btn-group btn-group-sm">
                <a th:replace="fragments/note_fragments :: noteLinkButton(${treeNodeModel.previousSiblingNote}, 'fastBackward', 'previous sibling')"/>
                <a th:replace="fragments/note_fragments :: noteLinkButton(${treeNodeModel.previousNote}, 'backward', 'previous')"/>
                <a th:replace="fragments/note_fragments :: noteLinkButton(${treeNodeModel.nextNote}, 'forward', 'next')"/>
                <a th:replace="fragments/note_fragments :: noteLinkButton(${treeNodeModel.nextSiblingNote}, 'fastForward', 'next sibling')"/>
            </a>
        </nav>

        <div th:replace="fragments/note_fragments :: noteViewCards(${noteEntity.children})"/>
    </div>
</layout>