<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <div th:replace="_fragments/note_fragments :: noteOwnerBreadcrumb(${noteEntity}, ~{:: .additional-item})">
            <li class="breadcrumb-item additional-item" th:text="${noteEntity.title}"/>
            <li class="breadcrumb-item additional-item">
                <a class="text-secondary" th:href="@{/notes/{id}/new(id=${noteEntity.id})}">(Add Child Note)</a>
            </li>
        </div>

        <div th:if="${noteEntity.parentNote}">
            <svg th:replace="_fragments/svgs :: downRight"/>
            <a th:if="${noteEntity.parentNote}" th:href="@{/notes/{id}/new(id=${noteEntity.parentNote.id})}">Add Sibling
                Note</a>
        </div>
        <div class="jumbotron py-4 mb-2">
            <nav class="nav d-flex flex-row-reverse p-0">
                <!--                the following commented code is for demo purpose -->
                <!--                <span class="descendant-counter" th:text="${treeNodeModel.descendantCount()}"/>-->
                <!--                <span class="descendant-counter" th:text="0"/>-->
                <div th:replace="_fragments/note_fragments :: noteButtons(${noteEntity})"/>
            </nav>

            <div th:replace="_fragments/note_fragments :: noteShow(${noteEntity}, 1)"/>

        </div>

        <nav class="nav d-flex justify-content-between p-0 mb-2">
            <div class="btn-group btn-group-sm">
                <a th:href="@{/notes/{id}/move(id=${noteEntity.id})}">Move This Note</a>
            </div>
            <a th:replace="_fragments/note_fragments :: noteLinkButtons('', ${treeNodeModel})"/>
        </nav>

        <div th:replace="_fragments/note_fragments :: noteOwnerViewCards(${noteEntity.children})"/>
    </div>
</layout>