<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=
    "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

    <script src=
    "https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <title>Odd-e Blog</title>
</head>
<body>
    <div id="app" class="container">
        <h1 style="padding-top:10px">This is Odd-e Blog</h1>
        <div class="row" style="height:100%;padding-top:20px">
            <div id="blog-left-panel" class="col-lg-3" style=
            "background-color:#deefff;padding-top:20px">
                <ul v-if="yearList.length">
                    <li>
                        <a href="#recent">Recent</a>
                    </li>
                    <li v-for="item in yearList" class="yearList">
                        <a href="#">{{item}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9" id="article-container" style=
            "width:100%;padding-left:50px; margin-bottom:50px;">
                <div v-if="articleList.length" v-for=
                "article in articleList" class="row article">
                    <div class="row title" style=
                    "width:100%;padding:10px;font-size:24px;font-weight:bold;">
                        {{article.title}}
                    </div>
                    <div class="row authorName" style=
                    "width:100%;padding:10px">
                        {{article.author}}
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="row createdAt" style=
                    "width:100%;padding:10px">
                        {{article.createdDatetime}}
                    </div>
                    <div class="row content" style=
                    "width:100%;padding:10px">
                        {{article.description}}
                    </div>
                    <div style="width:100%; height: 30px;"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="blog_landing.js"></script>
</body>
</html>
