---
spring:
  profiles:
    active: "test"
  config:
    import: db-test.properties
  jackson:
    serialization:
      write-dates-as-timestamps: false
  logging:
    level:
      root: OFF
      org.springframework: OFF
      org.springframework.web: ERROR
      com.odde.doughnut: ERROR
      org.hibernate: ERROR
  web:
    resources:
      cache:
        cachecontrol:
          max-age: 365d
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: ${db.url}
    username: ${db.user}
    password: ${db.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    placeholders:
      embedding_column: "embedding_raw VARBINARY(6144) NOT NULL"
  jpa:
    generate-ddl: false
    show-sql: false
    properties.hibernate:
      enable_lazy_load_no_trans: true
      globally_quoted_identifiers: true
      globally_quoted_identifiers_skip_column_definitions: true
    open-in-view: false
  redis:
    host: 127.0.0.1
    port: 6380
    timeout: 2000ms
    connect-timeout: 2000ms
  github_for_issues:
    repo: nerds-odd-e/doughnut_sandbox
    token: ${GITHUB_FOR_ISSUES_API_TOKEN:-token_not_set}
  openai:
    token: ${OPENAI_API_TOKEN:-token_not_set}
server:
  forward-headers-strategy: FRAMEWORK
  port: 8081
springdoc:
  api-docs:
    enabled: true
    path: /api-docs
---
spring:
  config:
    import: db-e2e.properties
    activate:
      on-profile: e2e
  logging:
    level:
      root: INFO
      org.springframework: INFO
      org.springframework.web: INFO
      com.odde.doughnut: INFO
      org.hibernate: WARN
  web:
    resources:
      cache:
        cachecontrol:
          max-age: 365d
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: ${INPUT_DB_URL:jdbc:mysql://127.0.0.1:3309/doughnut_e2e_test}
    username: ${db.user}
    password: ${db.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 20000
      minimum-idle: 5
      maximum-pool-size: 10
      idle-timeout: 300000
      max-lifetime: 1200000
      auto-commit: true
      connection-test-query: SELECT 1
      validation-timeout: 5000
      leak-detection-threshold: 60000
  flyway:
    clean-disabled: true
    placeholders:
      embedding_column: "embedding_raw VARBINARY(6144) NOT NULL"
  jpa:
    generate-ddl: false
    show-sql: false
    properties.hibernate:
      enable_lazy_load_no_trans: true
      globally_quoted_identifiers: true
      globally_quoted_identifiers_skip_column_definitions: true
    open-in-view: false
  redis:
    host: 127.0.0.1
    port: 6380
    timeout: 2000ms
    connect-timeout: 2000ms
  github_for_issues:
    repo: nerds-odd-e/doughnut_sandbox
    token: ${GITHUB_FOR_ISSUES_API_TOKEN:-token_not_set}
  openai:
    token: ${OPENAI_API_TOKEN:-token_not_set}
server:
  forward-headers-strategy: FRAMEWORK
  port: 9081
springdoc:
  api-docs:
    enabled: true
    path: /api-docs
---
spring:
  config:
    activate:
      on-profile: prod
  resources:
    cache:
      cachecontrol:
        max-age: 365d
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: jdbc:mysql://db-server:3306/doughnut
    username: doughnut
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 20000
      minimum-idle: 5
      maximum-pool-size: 12
      idle-timeout: 300000
      max-lifetime: 1200000
      auto-commit: true
      connection-test-query: SELECT 1
      validation-timeout: 5000
      leak-detection-threshold: 60000
  flyway:
    clean-disabled: true
    placeholders:
      embedding_column: "embedding VECTOR(1536) USING VARBINARY NOT NULL"
  jpa:
    generate-ddl: false
    show-sql: false
    properties.hibernate:
      enable_lazy_load_no_trans: true
      globally_quoted_identifiers: true
      globally_quoted_identifiers_skip_column_definitions: true
    open-in-view: false
  redis:
    host: 127.0.0.1
    port: 6380
    timeout: 2000ms
    connect-timeout: 2000ms
  security:
    oauth2:
      client:
        registration:
          github:
            clientId: ${OAUTH2_github_client_id}
            clientSecret: ${OAUTH2_github_client_secret}
  github_for_issues:
    repo: nerds-odd-e/doughnut
    token: ${GITHUB_FOR_ISSUES_API_TOKEN}
  openai:
    token: ${OPENAI_API_TOKEN}
server:
  error:
    include-stacktrace: never
  forward-headers-strategy: FRAMEWORK
springdoc:
  api-docs:
    enabled: false
---
spring:
  config:
    import: db-dev.properties
    activate:
      on-profile: dev
  logging:
    level:
      root: INFO
      org.springframework: INFO
      org.springframework.web: INFO
      com.odde.doughnut: DEBUG
      org.hibernate: INFO
  web:
    resources:
      cache:
        cachecontrol:
          max-age: 365d
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: ${db.url}
    username: ${db.user}
    password: ${db.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    placeholders:
      embedding_column: "embedding_raw VARBINARY(6144) NOT NULL"
  jpa:
    generate-ddl: false
    show-sql: true
    properties.hibernate:
      enable_lazy_load_no_trans: true
      globally_quoted_identifiers: true
      globally_quoted_identifiers_skip_column_definitions: true
    open-in-view: false
  redis:
    host: 127.0.0.1
    port: 6380
    timeout: 2000ms
    connect-timeout: 2000ms
  github_for_issues:
    repo: nerds-odd-e/doughnut_sandbox
    token: ${GITHUB_FOR_ISSUES_API_TOKEN:-token_not_set}
  openai:
    token: ${OPENAI_API_TOKEN:-token_not_set}
server:
  forward-headers-strategy: FRAMEWORK
  port: 8081
springdoc:
  api-docs:
    enabled: true
    path: /api-docs
