<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_ABSOLUTE_PATH" value="${user.dir}/logs" />
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="E2E_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_ABSOLUTE_PATH}/doughnut-e2e.log</file>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/archived/doughnut-e2e-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="DEV_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_ABSOLUTE_PATH}/doughnut-dev.log</file>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/archived/doughnut-dev-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <springProfile name="e2e">
        <logger name="com.odde.doughnut" level="INFO" />
        <logger name="org.springframework" level="INFO" />
        <logger name="org.hibernate" level="WARN" />

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="E2E_FILE" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <logger name="com.odde.doughnut" level="DEBUG" />
        <logger name="org.springframework" level="INFO" />
        <logger name="org.hibernate" level="INFO" />

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="DEV_FILE" />
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="OFF">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
</configuration>
