<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="_fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <div th:replace="_fragments/subscription_fragments :: noteSubscriptionBreadcrumb(${subscription.headNote}, ~{:: .additional-item})">
            <li class="breadcrumb-item additional-item" th:text="${subscription.headNote.title}"/>
        </div>

        <form action="#" th:action="@{/subscriptions/{id}(id=${subscription.id})}" th:object="${subscription}" method="post">
            <div th:replace="_fragments/subscription_fragments :: subscriptionFormFields(${subscription})"/>
                <input type="submit" value="Update" class="btn btn-primary"/>
        </form>

    </div>
</layout>