<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="p-5 content">
        <h2>Your Notes</h2>
        <p> <a class="nav-link" href="/new_note">Add Note</a> </p>
        <div th:replace="fragments/note_layout :: cards(${all_my_notes}, ~{ :: .card-button})">
            <a href="#" class="btn btn-primary card-button" th:href="'link/' + ${note.id}">Link Note</a>
        </div>
    </div>
</layout>