<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/basic_layout :: head"/>
<body>
<div th:replace="fragments/basic_layout :: header"/>


    <div class="p-5">
        <h2>Your Notes</h2>

        <p> <a class="nav-link" href="/note">Add Note</a> </p>

        <div class="row">
            <div class="card col-3 mr-2" style="width: 18rem;"  th:each="note:${all_my_notes}">
                <div th:replace="fragments/note_layout :: card(${note}, ~{ :: .card-button})">
                    <a href="#" class="btn btn-primary card-button" th:href="'link/' + ${note.id}">Link Note</a>
                </div>
            </div>
        </div>

    </div>



<div th:replace="fragments/basic_layout :: footer"/>
<div th:replace="fragments/basic_layout :: foot"/>
</body>
</html>