<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <h2 th:text="'Welcome ' + ${currentUser.getUser().getName()} + '!'"/>

        <div th:replace="fragments/front_pages :: mainFeatures(~{ :: .notes-button}, ~{ :: .review-button})">
            <a class="btn btn-light notes-button" href="/notes"> Go To My Notes </a>
            <a class="btn btn-light review-button" href="/review"> Start Review </a>
        </div>

    </div>
</layout>

