<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/basic_layout :: head"/>
<body>
<div th:replace="fragments/basic_layout :: header"/>

<div class="container">
    <h2 th:text="'Welcome ' + ${currentUser.getName()} + '!'"/>
    <p>And here's what we know about you...</p>
    <samp th:text="${user_details}"/>
</div>

<div th:replace="fragments/basic_layout :: footer"/>
<div th:replace="fragments/basic_layout :: foot"/>
</body>
</html>
