<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/basic_layout :: head"/>
<body>
<div th:replace="fragments/basic_layout :: header"/>
<div>
    <h2 th:text="'Link ' + ${sourceNote.title} + ' to:'"></h2>
</div>
<div class="card" style="width: 18rem;"  th:each="note:${linkableNotes}">
    <div class="card-body">
        <h5 class="card-title" th:text="${note.title}"></h5>
        <a href="/review" th:data-testid="'button-' + ${note.id}" class="btn btn-primary">Select</a>
    </div>
</div>

<div th:replace="fragments/basic_layout :: footer"/>
<div th:replace="fragments/basic_layout :: foot"/>
</body>
</html>