<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/basic_layout :: head"/>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to Doughnut!!!</h1>
        <h3 th:text="|Serving ${totalNotes} notes since the beginning of the universe.|" />
        <p>Please <a href="/oauth2/authorization/github">login with Github</a>.</p>
    </div>
</div>

<div th:replace="fragments/basic_layout :: footer"/>
<div th:replace="fragments/basic_layout :: foot"/>
</body>
</html>
