<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="fragments/basic_layout :: application_layout(~{ :: .content})">

    <div class="container content">
        <h2>Edit note</h2>
        <div th:replace="fragments/note_fragments :: noteBreadcrumb(${noteEntity}, ~{:: .additional-item})">
            <li class="breadcrumb-item additional-item" th:text="${noteEntity.title}"/>
        </div>

        <form action="#" th:action="@{/notes/{id}/move(id=${noteEntity.id})}" th:object="${noteMotion}" method="post">
            <input type="submit" value="Move Left" class="btn btn-primary"/>
        </form>
        <form action="#" th:action="@{/notes/{id}/move(id=${noteEntity.id})}" th:object="${noteMotionRight}" method="post">
            <input type="hidden" th:field="*{behind}"/>
            <input type="submit" value="Move Right" class="btn btn-primary"/>
        </form>
    </div>
</layout>
