<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="fragments/basic_layout :: application_layout(~{ :: .content})">

    <div class="container content">
        <h2>Adding new note</h2>
        <div th:replace="fragments/note_fragments :: noteBreadcrumb(${parent}, ~{:: .additional-item})">
            <li class="breadcrumb-item additional-item">(adding here)</li>
        </div>

        <form action="#" th:action="@{/notes}" th:object="${note}" method="post">
            <input data-cy="note-parent-id" th:field="*{parentNote}" type="hidden"/>

            <div th:replace="fragments/forms :: textInput('note', 'title', null)"/>
            <div th:replace="fragments/forms :: textarea('note', 'description', null)"/>
            <div th:replace="fragments/forms :: textInput('note', 'picture', 'Optional. We only accept full url for now.')"/>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>
    </div>
</layout>
