<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="fragments/basic_layout :: application_layout(~{ :: .content})">

    <div class="container content">
        <h2 class="display-2">Adding new note</h2>

        <form action="#" th:action="@{/note}" th:object="${note}" method="post">
            <input data-cy="note-parent-id" th:field="*{parentNote}" type="hidden" />
            <p>
                <label for="note-title">Title:</label>
                <input data-cy="note-title" id="note-title" th:field="*{title}" />
            </p>
            <p>
                <label for="note-description">Description:</label>
                <textarea data-cy="note-description" id="note-description" th:field="*{description}" />
            </p>
            <p>
                <label for="note-picture">Picture:</label>
                <input data-cy="note-picture" id="note-picture" th:field="*{picture}" />
            <p>
            <input type="submit" value="Submit" /></p>
        </form>
    </div>
</layout>
