<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="fragments/basic_layout :: application_layout(~{ :: .content})">

    <div class="container content">
        <h2>Adding new note</h2>
        <div th:replace="fragments/note_layout :: noteBreadcrumb(${parent})"/>

        <form action="#" th:action="@{/note}" th:object="${note}" method="post">
            <input data-cy="note-parent-id" th:field="*{parentNote}" type="hidden" />
            <div class="form-group">
                <label for="note-title">Title:</label>
                <input class="form-control" data-cy="note-title" id="note-title" th:field="*{title}" />
            </div>
            <div class="form-group">
                <label for="note-description">Description:</label>
                <textarea class="form-control" data-cy="note-description" id="note-description" th:field="*{description}" />
            </p>
            </div>
            <div class="form-group">
                <label for="note-picture">Picture:</label>
                <input class="form-control" data-cy="note-picture" id="note-picture" th:field="*{picture}" placeholder="Optional. We only accept full url for now."/>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>
    </div>
</layout>
