<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/basic_layout :: head" />

<body>
    <div th:replace="fragments/basic_layout :: header" />

    <div class="container">
        <h2 class="display-2">Here are your notes!</h2>

        <form action="#" th:action="@{/note}" th:object="${note}" method="post">
            <label for="note-title">Title:</label>
            <input data-cy="note-title" id="note-title" th:field="*{title}" />
            <br>
            <label for="note-description">Description:</label>
            <input data-cy="note-description" id="note-description" th:field="*{description}" />
            <p><input type="submit" value="Submit" /></p>
        </form>
    </div>

    <div th:replace="fragments/basic_layout :: footer" />
    <div th:replace="fragments/basic_layout :: foot" />
</body>

</html>