<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/basic_layout :: head"/>
<body>
<div th:replace="fragments/basic_layout :: header"/>

<div class="container">
    <p>Here are your notes!</p>

    <form action="#" th:action="@{/note}" th:object="${note}" method="post">
        <p>Name: <input type="text" th:field="*{title}" /></p>
        <p>Name: <input type="text" th:field="*{description}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</div>

<div th:replace="fragments/basic_layout :: footer"/>
<div th:replace="fragments/basic_layout :: foot"/>
</body>
</html>
