<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="fragments/before_login_layout :: application_before_login_layout(~{ :: .content})">
    <div class="container content">
        <h2>Welcome, new user. Please create your profile</h2>
        <form action="#" th:action="@{/users}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Nickname"/>
            </div>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </div>
</layout>
