<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<layout th:replace="fragments/basic_layout :: application_layout(~{ :: .content})">
    <div class="container content">
        <h2 class="display-2">Review your notes</h2>

        <div class="review-container">
            <h3 id="note-title" class="display-4"></h3>
            <p id="note-description" class="lead"></p>
            <p id="note-picture" class="lead"></p>
            <p id="note-links-label" class="lead"></p>
            <ul id="note-links" class="list-group"></ul>
        </div>

        <form action="#" th:action="@{/review_points/}" th:object="${reviewPointEntity}" method="post">
            <input th:field="*{noteEntity}" type="hidden"/>
            <input type="submit" value="Next" class="btn btn-primary"/>
        </form>
    </div>
</layout>
