<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/basic_layout :: head" />

<body onload="javascript:getNotes()">
    <div th:replace="fragments/basic_layout :: header" />
    <div class="container">
        <h2 class="display-2">Review your notes</h2>

        <div>
            <h3 id="note-title" data-cy="note-title" class="display-4"></h3>
            <p id="note-description" data-cy="note-description" class="lead"></p>

            <p id="note-links-label" class="lead"></p>
            <ul id="note-links" class="list-group"></ul>
        </div>

        <button type="button" onclick="javascript:nextNote()" class="btn btn-primary">Next</button>
    </div>

    <div th:replace="fragments/basic_layout :: footer" />
    <div th:replace="fragments/basic_layout :: foot" />
    <script type="text/javascript" src="js/review.js"></script>
</body>

</html>